<h1>New Table Mapping</h1>
<%= link_to 'Back', destination_path(@destination), class: 'btn btn-outline-secondary mb-3' %>

<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <h6 class="text-muted">Destination</h6>
        <p><%= @destination.name %></p>
      </div>
      <div class="col-md-4">
        <h6 class="text-muted">Form Mapping</h6>
        <p><%= @form_mapping.name %></p>
      </div>
      <div class="col-md-4">
        <h6 class="text-muted">Form Names</h6>
        <p><%= @form_mapping.form_names_array.map { |fn| "\"#{fn}\"" }.join(', ') %></p>
      </div>
    </div>
  </div>
</div>

<%= render 'form' %>
