<div class="d-flex justify-content-between align-items-center mb-4">
  <h1><%= @user.email %></h1>
  <div>
    <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-outline-primary' %>
    <%= link_to 'Delete', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>
    <%= link_to 'Back', users_path, class: 'btn btn-outline-secondary' %>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-md-6">
        <h6 class="text-muted">Email</h6>
        <p><%= @user.email %></p>
      </div>
    </div>
  </div>
</div>
