<h1>Edit Destination</h1>
<%= render 'form' %>

    <hr class="my-4">

    <h5>Destination Sources</h5>

    <% if @destination.destination_sources.any? %>
      <div class="table-responsive mb-3">
        <table class="table table-sm table-striped table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>URL</th>
              <th>Key Column</th>
              <th>Table Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @destination.destination_sources.each do |source| %>
              <tr>
                <td><%= source.name %></td>
                <td><%= source.url %></td>
                <td><%= source.key_column %></td>
                <td><%= source.table_name %></td>
                <td>
                  <%= button_to 'Remove', remove_source_destination_path(@destination, source_id: source.id), method: :post, class: 'btn btn-sm btn-outline-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p class="text-muted">No destination sources yet.</p>
    <% end %>

    <div class="card">
      <div class="card-header">
        Add Destination Source
      </div>
      <div class="card-body">
        <%= form_with(model: [@destination, DestinationSource.new], local: true, url: add_source_destination_path(@destination), method: :post) do |form| %>
          <div class="row">
            <div class="col-lg-4 mb-3">
              <%= form.label :name, class: 'form-label form-label-sm' %>
              <%= form.text_field :name, class: 'form-control form-control-sm', placeholder: 'Source name' %>
            </div>
            <div class="col-lg-4 mb-3">
              <%= form.label :key_column, class: 'form-label form-label-sm' %>
              <%= form.text_field :key_column, class: 'form-control form-control-sm', placeholder: 'Key column' %>
            </div>
            <div class="col-lg-4 mb-3">
              <%= form.label :table_name, class: 'form-label form-label-sm' %>
              <%= form.text_field :table_name, class: 'form-control form-control-sm', placeholder: 'Table name' %>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-12 mb-3">
              <%= form.label :url, class: 'form-label form-label-sm' %>
              <%= form.text_field :url, class: 'form-control form-control-sm', placeholder: 'Source URL' %>
            </div>
          </div>
          <%= form.submit 'Add Source', class: 'btn btn-outline-primary btn-sm' %>
        <% end %>
      </div>
    </div>
